<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

  <Package
    Name="gpth-rs"
    Manufacturer="Minoru Tomobe"
    Version="0.2.0"
    UpgradeCode="107EA8C3-5218-44E5-934B-F04EFCC95057"
    Scope="perMachine"
    Language="1033">

    <MajorUpgrade
      DowngradeErrorMessage="A newer version of gpth-rs is already installed." />

    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="gpth-rs">
        <Directory Id="BinFolder" Name="bin" />
      </Directory>
    </StandardDirectory>

    <ComponentGroup Id="BinaryComponents" Directory="BinFolder">
      <Component Id="gpthrs_exe">
        <File Source="target\release\gpth-rs.exe" />
      </Component>
      <Component Id="gpthrs_cli_exe">
        <File Source="target\release\gpth-rs-cli.exe" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="LicenseComponent" Directory="INSTALLFOLDER">
      <Component Id="license_file">
        <File Source="LICENSE" Name="LICENSE" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="PathComponent" Directory="BinFolder">
      <Component Id="PathEntry" Guid="0C0B0E59-1988-4AC8-9559-19E1EA17C385">
        <Environment Id="PATH" Name="PATH" Value="[BinFolder]"
          Permanent="no" Part="last" Action="set" System="yes" />
      </Component>
    </ComponentGroup>

    <Feature Id="Main" Title="gpth-rs" Level="1">
      <ComponentGroupRef Id="BinaryComponents" />
      <ComponentGroupRef Id="LicenseComponent" />
      <Feature Id="Environment" Title="PATH Environment Variable"
        Description="Add gpth-rs to PATH" Level="1">
        <ComponentGroupRef Id="PathComponent" />
      </Feature>
    </Feature>

  </Package>
</Wix>
